.top {
    margin-top: 12px;
}

.btn-sm {
    margin-right: 3px;
}

.drop-pad {
    padding-right: 0px!important;
    padding-left: 0px!important;
}

textarea.form-control {
    resize: none;
}

/*
.note-editor.note-frame .note-editing-area .note-codable {
    display: block!important;
    padding: 0px!important;
    background-color: #fff!important;
}
*/
